<ul class="nav nav-tabs">
  <li class="active webTab"><a href="#tab-1" data-toggle="tab">Scanners</a></li>
  <li class="webTab"><a href="#tab-2" data-toggle="tab">Mac</a></li>
  <li class="webTab"><a href="#tab-3" data-toggle="tab">Printers</a></li>
  <li class="webTab"><a href="#tab-4" data-toggle="tab">Desktops</a></li>
  <li class="webTab"><a href="#tab-5" data-toggle="tab">Laptops &amp; Notebooks</a></li>
  <li class="webTab"><a href="#tab-6" data-toggle="tab">Components</a></li>
  <li class="webTab"><a href="#tab-7" data-toggle="tab">cells &amp; tablets</a></li>
  <li class="webTab"><a href="#tab-8" data-toggle="tab">test 1</a></li>
</ul>